#intro
{
    display:none;
}

body {
    height: 100vh;
}

#wrap
{
    background: center no-repeat fixed ;
    background-size: 50%;
    height: 100%;
}

.form-control:focus
{
    box-shadow:0 0 0 .2rem rgb(49, 197, 49);
}

